/* Universal Styles */

html {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 18px;
  color: #333333;
}

body {
  max-width: 1400px;
  border: 1px solid gray;
}

h1, h2, h3 {
  font-family: 'Archivo Black', sans-serif;
}

h1, h2 {
  padding: 32px 15px;
}

h3, p {
  padding:10px 15px 5px 10px;
}

h1 {
  font-size: 1.7rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: lighter;
}

.container {
  margin: auto;
  height: auto;
}

.back-gray {
  background-color: #d3d3d3;
}

.read-more {
  text-decoration: none;
  color: blue;
}

/*header*/
.logo, nav, ul {
  display: flex;
  align-items: center;
}

header {
  padding: 24px;
  max-height: 64px;
}

.logo {
  height: 32px;
  font-size: 1rem;
}


.col {
  font-weight: 600;
  color: #333333;
}

.academy {
  color: #e3e3e3;
}

nav {
  justify-content: space-between;
}

li {
  padding-left: 16px;
  color: #333333;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 600px)   {
  .menu {
    width: 100%;
  }
  .mobile-menu {
    display: flex;
    justify-content: space-around;
  }

  .menu-ul, .logo {
    display: none;
  }
}

/*section classes*/
.section {
  display: flex;
  align-items: center;
}

.section1 {
  max-width: 60%;
  max-height: 700px;
  overflow: hidden;
  padding: 32px 24px;
  border: 3px border green;
}

.section1-img {
  max-width: 100%;
  display: block;
  height: auto;
  display: block;
}

.section1-box {
  border: 1px solid blue;
}

.section1-box-2 {
}


.section2 {
  padding: 32px 16px;
  border: 3px border green;
  width: 40%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.section2-box {
  border: 2px solid gray;
  display: flex;
  margin: 1px;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.section2-img {
  width: 35%;
  height: auto;
  display: block;
}

.p-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.back-gray {
  background-color: #d3d3d3;
}


/*banner*/
.section2-main {
  width: 25%;
}
.banner-button {
  color: white;
  background-color: blue;
}
.button-p {
  padding: 8px;
}
