/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  color: #333333;
}

body {
max-width: 960px;
  border: 1px solid gray;
}

h1 {
  font-size: 2rem;
}

.container {
  margin: auto;
  height: auto;
}

.back-gray {
  background-color: #d3d3d3;
}

/*header*/
.logo, nav, ul {
  display: flex;
  align-items: center;
}

header {
  padding: 24px;
  max-height: 64px;
}

.logo {
  height: 32px;
  font-size: 1rem;
}


.col {
  font-weight: 600;
  color: #333333;
}

.academy {
  color: #e3e3e3;
}

nav {
  justify-content: space-between;
}

li {
  padding-left: 16px;
  color: #333333;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 600px)   {
  .menu {
    width: 100%;
  }
  .mobile-menu {
    display: flex;
    justify-content: space-around;
  }

  .menu-ul, .logo {
    display: none;
  }
}

/*section classes*/
.section {
  display: flex;
  align-items: center;
}

.section1 {
  max-width: 60%;
  max-height: 400px;
  overflow: hidden;
  padding: 32px 24px;
  border: 3px border green;
}

.section1-box {
  border: 1px solid blue;
}

.section1-img {
  max-width: 60%;
  height: auto;
  display: block;

  max-width: 100%;
  height: auto;
  display: block;
}

.section2 {
  padding: 32px 16px;
  border: 3px border green;
  width: 40%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.section2-box {
  border: 2px solid gray;
  display: flex;
  margin: 1px;
  justify-content:
  space-between;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.section2-img {
  width: 35%;
  height: auto;
  display: block;
}

.back-gray {
  background-color: #d3d3d3;
}

/*banner*/
.banner-button {
  color: white;
  background-color: blue;
}
.button-p {
  padding: 8px;
}
